*{
    padding: 0;
    margin: 0;
}
.body{
    width: 100%;
    height: 100vh;
    
}
.main-container{
    min-width: 200px;
    max-width: 800px;
    margin: auto;
  display: flex;
  align-items: center;
  padding-top: 150px;
  justify-content: space-around;
}
.main-container button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color for success */
    color: white; /* Text color */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.main-container button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

